*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 90%;
  margin: 0 auto;
}
.App{
  text-align: center;
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
table,th,td{
  border: 1px solid;
    border-collapse: collapse;
}
th{
  width: 170px;
  font-size: 20px;
  padding: 10px;
}
td{
  font-size: 18px;
    width: 170px;
  padding: 5px 10px;
}
.green{
  cursor: pointer;
  background-color: green;
}
.red{
  cursor: pointer;
  background-color: brown;
}
h2{
  margin:10px 0;
}